/* Reset */

* {
  margin: 0;
  padding: 0;
}

/* Base */

:root {
  font-family: 'Open Sans', sans-serif;
  line-height: 120%;
}

body {
  box-sizing: border-box;
  width: 1120px;
  margin: 120px auto 89px;
  background-color: #f5f4f0;
  color: #333333;
}

/* Tipografia */

h1,
h2,
h3 {
  color: #1b1b1b;
}

h1 {
  margin-top: 8px;
  margin-bottom: 40px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  margin-top: 2px;
}

.headline {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: #e1624f;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  margin-top: 24px;
  color: #333333;
  text-align: center;
}

.text-secondary {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #333333;
}

/* Elementos */

img {
  width: 100%;
  border-radius: 28px;
}

ul {
  padding-left: 24px;
  font-weight: bold;
}

ul li::marker {
  color: #333333;
}

ul li:nth-child(1) {
  color: #0c51a7;
}

ul li:nth-child(2) {
  color: #e5245e;
}

ul li:nth-child(3) {
  color: #e95e10;
}

/* Componentes */

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

.divider:nth-of-type(2) {
  margin: 40px 0;
}

.divider + p {
  text-align: center;
}

/* Seções */

.destinos img {
  margin: 48px 0 20px;
}

.destinos h3 {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 4px;
  padding-left: 4px;
}

/* Rodapé */

footer {
  margin-top: 65px;
  padding-bottom: 41px;
  font-family: Alice;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
  text-align: center;
}

footer img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
